.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f5f5f5;
  
    .auth-form {
      border: 1px solid #ddd;
      border-radius: 8px;
      transition: box-shadow 0.3s ease;
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 300px;
  
      h2 {
        font-size: 24px;
        color: #007bff;
        margin-bottom: 15px;
      }
  
      form {
        text-align: left;
  
        label {
          display: block;
          margin-bottom: 5px;
          font-size: 14px;
          color: #333;
        }
  
        input {
          width: 92%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
      a {
        color: #007bff;
        text-decoration: none; /* Optional: Removes underline */
      }
  
      a:hover {
        text-decoration: underline; /* Optional: Underlines link on hover */
      }
    }

    .auth-form:hover{
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }