.about {
  padding: 20px 0;
  text-align: center;
  min-height: 55vh;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 32px;
  color: #007bff;
}

.about-content p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  padding-bottom: 30px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  margin-bottom: 2rem;
}

.team-member img {
  border: 2px solid #ddd;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  border-radius: 50%; /* Ensures the image is round */
  max-width: 150px;
  margin-bottom: 1rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease, border-color 0.3s ease; /* Smooth transition for effects */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Default box-shadow */
}

.team-member img:hover {
  transform: scale(1.1); /* Scale up on hover */
  border-color: #007bff; /* Darker border color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member h5 {
  margin-top: 1rem;
  font-size: 1.25rem;
  margin-bottom: auto;
}

.team-member p {
  font-style: italic;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #007bff;
  font-size: 18px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #007bff;
  text-align: center;
  line-height: 40px;
}

.social-links a:hover {
  color: white;
  background-color: #007bff;
  transform: scale(1.1);
}
